<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label 'Доступные курсы' %>
    <%= f.collection_check_boxes(:course_ids, @courses, :id, :title) %>
  </div>
  <div class="actions">
    <%= f.submit "Назначить курсы" %>
  </div>
<% end %>
